@using NunchuckWeb.Models;
@{
    ViewBag.Title = "About Lissijous";
}

<br />
<div class="container container-transparent">
    <div class="jumbotron jumbotron-transparent">
        <h2>@ViewBag.Title</h2>
        <p>This site was designed for the education of the Lissijous-Do Nunchuku weapons system. This weapons system was developed for Martial Arts purposes only.</p>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default panel-transparent-semi">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <h2>About</h2>
                        <p>Lissajous-do is a nunchaku concept system based on mathematical <a href="https://en.wikipedia.org/wiki/Lissajous_curve">Lissajous curves</a>. Lissajous-do teaches that nunchaku techniques are performed in circular, flowing, and continuous motions. According to the system, these flowing movements naturally occur within all nunchaku techniques and can be applied to any weapon including empty hand combat.</p>
                        <p>More information about Lissajous-do can be read <a href="http://karatearts.net/">here</a>.</p>
                    </div>
                    <div class="col-md-1 col-md-offset-1">
                        <img src="~/Content/Lissajous-do_Ratio_Flow_Chart.jpg" />
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-8">
                        <h2>Proponents</h2>
                        <p>Lissajous-do was originally founded by martial artist Grand Master Roy Williams. Williams applied idea's originally conceived by French mathematician Jules Antoine Lissajous to martial arts forming what is now known as Lissajous-do. Lissajous-do was made popular by Williams' top student Master Lee Barden. Barden teaches an updated version of the system at his martial arts dojo Karate Arts in Jacksonville, Florida, over the internet, and through his four DVD home study course distributed by his company Black and Blue Productions.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>