<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="~/Scripts/home-index.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <center><img class="slide active-slide" src="~/Content/cool1.jpg" /></center>
                    <center><img class="slide" src="~/Content/cool2.jpg" /></center>
                    <center><img class="slide" src="~/Content/cool3.jpg" /></center>
                    <center><img class="slide" src="~/Content/cool4.jpg" /></center>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <center>
                <nav>
                    <ul class="pagination">
                        <li>
                            <a href="#pagination" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="active hey"><a href="#pagination">&bull;</a></li>
                        <li><a href="#pagination">&bull;</a></li>
                        <li><a href="#pagination">&bull;</a></li>
                        <li><a href="#pagination">&bull;</a></li>
                        <li>
                            <a href="#pagination" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </center>
        </div>
    </div>
</div>




