
@{
    ViewBag.Title = "Index";
}

<h2>Tutorials</h2>

<br />

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nunchuck Tutorial 1</h3>
            </div>
            <div class="panel-body">
                <center>
                    <iframe title="YouTube video player" class="youtube-player" type="text/html"
                            width="640" height="390" src="http://www.youtube.com/embed/5EDVeJ0FLqM"
                            frameborder="0" allowFullScreen></iframe>
                </center>
            </div>
        </div>
    </div>
</div>

<hr /><br />

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nunchuck Tutorial 2</h3>
            </div>
            <div class="panel-body">
                <center>
                    <iframe title="YouTube video player" class="youtube-player" type="text/html"
                            width="640" height="390" src="http://www.youtube.com/embed/Vv2RB6dA3zc"
                            frameborder="0" allowFullScreen></iframe>
                </center>
            </div>
        </div>
    </div>
</div>

<hr /><br />

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nunchuck Tutorial 3</h3>
            </div>
            <div class="panel-body">
                <center>
                    <iframe title="YouTube video player" class="youtube-player" type="text/html"
                            width="640" height="390" src="http://www.youtube.com/embed/6UPDsEtvUmw"
                            frameborder="0" allowFullScreen></iframe>
                </center>
            </div>
        </div>
    </div>
</div>

<hr /><br />

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Nunchuck Tutorial 4</h3>
            </div>
            <div class="panel-body">
                <center>
                    <iframe title="YouTube video player" class="youtube-player" type="text/html"
                            width="640" height="390" src="http://www.youtube.com/embed/hrExoM_jfII"
                            frameborder="0" allowFullScreen></iframe>
                </center>
            </div>
        </div>
    </div>
</div>
